about.module.css
p {
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
  color: darkslategrey;
}
p:hover {
  font-size: larger;
  font-weight: 500;
  color: forestgreen;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: darkslategrey;
  font-weight: 300;
}
a:hover {
  font-size: larger;
  font-weight: 500;
  font-variant: small-caps;
  color: forestgreen;
}

.navigate {
  padding: 5px;
  margin: 5px;
  color: beige;
  background-color: rgb(151, 225, 151);
  border: 2px solid green;
  border-radius: 5px;
}
