.dellink{
    display:flex;
    flex-direction: column;
    justify-content:left;
    text-align: left;
    align-items: left;
    height:fit-content;
    color:darkslategrey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


p{
    display:flex;
    flex-direction: column;
    justify-content:left;
    text-align: left;
    align-items: left;
    margin:10px 10px;
    padding:10px 10px;
    color:darkslategrey;
    font-size: medium;
   
}

  p:hover{
    font-size: larger;
    font-weight: 300;
    text-shadow:2px;
    color: forestgreen;
} 

a{
    color:darkslategrey;
    text-decoration:none;
    background-color: white;
    margin:10px;
    padding:10px;
    /* border-left:5px solid green; */
    
}

p.goback > a{
    color:rgb(180, 51, 73);
    display:inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-variant: small-caps;
  }

  .x{
    display:inline-flex;
    justify-content: right;
    align-items: center;
    margin:0px 250px;
    padding:0px 150px;
    font-size:medium;

  }
 
 .tick{
    display:flex;
    justify-content: right;
    margin:0px 300px;
    padding:0px 200px;
    color:rgb(50, 148, 205);
    font-size:large ;
   
  }
  .active{
    color:slategrey;
    font-size: large;
  }
  /* .mylink{
    display:inline-flex;
    align-items: center;
    margin:10px;
    padding:10px;
    width:100px;
    height:30px;
    border:none;
    border-radius: 5px;
    color:beige;
    background-color: rgb(180, 51, 73);
   
}
 */
